<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>    
    hello
    
    
    <form action="/Thankyou" method="post">Please enter your address:<br>
            Name: <input type='text' name='name'><br>
            Street: <input type='text' name='street'><br>
            State: <input type='text' name='state'><br>
            Zip: <input type='text' name='zip'><br>
            <input type='submit' value='Submit'><br>
        </form>
    
</body>
</html>
